# Ignore virtual environment folder
myenv/

# Ignore virtual environment folder
myenv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment created by some tools like pipenv or poetry
Pipfile.lock
poetry.lock

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore system files
.DS_Store
